h1 {
	text-align: center;
}

body {
	margin: 0px;
	padding: 0px;
}

.box {
	position: relative;
	background-color: grey;
	width: 31%;
	float: left;
	margin: 10px 10px 10px 10px;
	padding: 10px;
	border: solid 1px black;
	box-sizing: border-box;
}

div > section {
	position: absolute;
	top: 0;
	right: 0;
	border: solid 1px black;
	font-weight: bold;
	height: 25px;
	width: 150px;
	text-align: center;
	float: right;
}

div > p {
	clear: right;
}

@media (min-width: 768px) and (max-width: 991px) {
	#div1 {
		width: 47%;
	}
	#div2 {
		width: 47%;
	}
	#div3 {
		width: 96%;
	}
}

@media (max-width: 768px) {
	#div1 {
		width: 95%;
	}
	#div2 {
		width: 95%;
	}
	#div3 {
		width: 95%;
	}
}