.navbar-header span {
    font-size: 2.5em;
}
#content {
    background-color: #808080;
    width: 100%;
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}
  
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}
  
/********** Extra small devices only **********/
@media (max-width: 767px) {
    #collapsable-nav {
        background-color: #909090;
    }
    #collapsable-nav .navbar-nav {
        margin: 0 0 0 3px;
    }
    #collapsable-nav hr {
        margin: 3px;
    }
}